<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atcpl.crowd.mapper.AccountTypeCertMapper" >
  <resultMap id="BaseResultMap" type="com.atcpl.crowd.entity.AccountTypeCert" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="accttypeid" property="accttypeid" jdbcType="INTEGER" />
    <result column="certid" property="certid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, accttypeid, certid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.atcpl.crowd.entity.AccountTypeCertExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from inner_account_type_cert
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from inner_account_type_cert
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from inner_account_type_cert
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.atcpl.crowd.entity.AccountTypeCertExample" >
    delete from inner_account_type_cert
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.atcpl.crowd.entity.AccountTypeCert" >
    insert into inner_account_type_cert (id, accttypeid, certid
      )
    values (#{id,jdbcType=INTEGER}, #{accttypeid,jdbcType=INTEGER}, #{certid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.atcpl.crowd.entity.AccountTypeCert" >
    insert into inner_account_type_cert
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accttypeid != null" >
        accttypeid,
      </if>
      <if test="certid != null" >
        certid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accttypeid != null" >
        #{accttypeid,jdbcType=INTEGER},
      </if>
      <if test="certid != null" >
        #{certid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.atcpl.crowd.entity.AccountTypeCertExample" resultType="java.lang.Integer" >
    select count(*) from inner_account_type_cert
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update inner_account_type_cert
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.accttypeid != null" >
        accttypeid = #{record.accttypeid,jdbcType=INTEGER},
      </if>
      <if test="record.certid != null" >
        certid = #{record.certid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update inner_account_type_cert
    set id = #{record.id,jdbcType=INTEGER},
      accttypeid = #{record.accttypeid,jdbcType=INTEGER},
      certid = #{record.certid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.atcpl.crowd.entity.AccountTypeCert" >
    update inner_account_type_cert
    <set >
      <if test="accttypeid != null" >
        accttypeid = #{accttypeid,jdbcType=INTEGER},
      </if>
      <if test="certid != null" >
        certid = #{certid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atcpl.crowd.entity.AccountTypeCert" >
    update inner_account_type_cert
    set accttypeid = #{accttypeid,jdbcType=INTEGER},
      certid = #{certid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>